* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --mainColor: #9990cb;
    --secondaryColor: #4e7c87;
    --tertiaryColor: #f0a12c;
    --textColor: #fff;
    --secondaryTextColor: #5c5c5c;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}